*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

:root{
    --primary-color: #080808;
    --secundary-color: #fff;
    --terciary-color: #ababab;
    --primary-image: url(images/1.png);
    --primary-responsive: url(images/11.png);
    --shadow-color: rgba(255, 255, 255, 0.19);
}
.dark-theme{
    --primary-color: #fff;
    --secundary-color: #080808;
    --terciary-color: #414141;
    --primary-image: url(images/2.png);
    --primary-responsive: url(images/22.png);
    --shadow-color: rgba(0, 0, 0, 0.1);
}


html {
    scroll-behavior: smooth;
}

body {
    background: var(--primary-color);
    color: var(--secundary-color);
}

#darkMode {
    width: 30px;
    cursor: pointer;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: var(--primary-image);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.container {
    padding: 10px 10%;
}


.sticky {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    width: 100%;
    max-width: 1280px;
    height: 54px;
    padding: 0 10%;
    background: transparent !important; /* Fondo completamente transparente al inicio */
    transition: all 0.4s ease;
}

.sticky.scrolled {
    background: var(--primary-color) !important; /* Fondo blanco al hacer scroll */
    box-shadow: 0 2px 15px rgba(52, 85, 17, 0.688);
    border-radius: 5px 5px ;
}


.sticky .logo {
    transition: filter 0.4s ease;
}


/* Elementos del menú */
.sticky ul li a {
    color: var(--secundary-color); /* Texto blanco al inicio */
    text-decoration: none;
    font-size: 18px;
    position: relative;
    transition: all 0.4s ease;
}

.sticky.scrolled ul li a {
    color: var(--secundary-color); /* Texto negro al hacer scroll */
}

.sticky ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #345511;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: all 0.5s;
}

.sticky ul li a:hover::after {
    width: 100%;
}


.sticky i, .sticky #darkMode {
    color: white;
    transition: all 0.4s ease;
    cursor: pointer;
}

.sticky.scrolled i, .sticky.scrolled #darkMode {
    color: black;
}

.header-text {
    margin-top: 20%;
    font-size: 30px;
    padding-top: 54px; 
}


nav ul{
    flex: 1;
    text-align: right;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 140px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: var(--secundary-color-color);
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #345511;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: all 0.5s;

}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #345511;
}
.justify{
    text-align: justify;
}

/* ------------SOBRE MI------------------ */
#about{
    padding: 80px 0;
    color: var(--terciary-color);
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-1 img:hover{
    box-shadow: 4px 4px 0 #345511;
    transition: transform 0.2s, box-shadow 0.2s;
    transform: translateY(-10px);
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: var(--secundary-color);
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.contents{
    font-size: 13px;
    margin-top: 8px;
    line-height: 1.5;
    margin-bottom: 3px;
}
.icon{
    color: #4FB477;
}
.contenido{
    font-size: 13px;
    margin-top: 10px;
    line-height: 1.9;
    margin-bottom: 3px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    cursor: pointer;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #345511;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    transition: all 0.5s;
}
.tab-contents ul li span{
    color: #4FB477;
    font-size: 14px;   
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/* ----------------------CONOCIMIENTOS--------------------------*/

#services{
    padding: 30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
    border: 1px solid #345511;
    color: #fff;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #fff; /* Etiqueta de Ver mas/Mis conocimientos */ 
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: #345511;
    box-shadow: 4px 4px 0 var(--secundary-color);
    transition: transform 0.2s, box-shadow 0.2s;
    transform: translateY(-10px);
}

/* ----------------------TRABAJO--------------------------*/

#portfolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6), #345511);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
    color: #fff;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #345511;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #345511;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: var(--secundary-color); /* Botones de Ver mas/CV/BOX */
    transition: background 0.5s;
    color: #fff;
}
.btn.more{
    color: var(--secundary-color);
}
.btn.more:hover{
    color: #fff;
}
.btn:hover{
    background: #345511;
    color: #cacaca;
}

/* ----------------------Contact--------------------------*/

.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #345511;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;   
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: var(--terciary-color);
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #345511;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #345511;
}
.contact-right form{
    width: 100%;
}
.number{
    text-decoration: none;
    color: var(--secundary-color); 
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: var(--terciary-color); /*Color de la baja del box*/
    padding: 15px;
    margin: 15px 0;
    color: var(--primary-color); /* Color de las letras del box */
    font-size: 18px;
    border-radius: 6px;
    resize: none;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
    color: #fff;
}

/* ----------------------css for small screens--------------------------*/
nav .fas{
    display: none;
}

@media only screen and (max-width: 950px){
    #header{
        background-image: var(--primary-responsive);
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;    
    }
    nav .fas.fa-bars {
        color: var(--secundary-color) !important;
        position: relative;
    }

    .sticky.scrolled nav .fas.fa-bars {
        color: var(--secundary-color) !important;
    }

     nav ul#sidemenu {
        background: #345511 !important; 
    }

    nav ul#sidemenu li a {
        color: white !important; 
    }

    nav ul#sidemenu .fa-xmark {
        color: white !important; 
    }
    
    nav .fas{
    display: block;
    font-size: 25px;
    }
    nav ul{
        background: #345511;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    
    nav ul li:hover{
        display: block;
        margin: 25px;
        color: #4FB477;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 12px;
    }
}
#msg{
    color: #61b752;
    margin-top: -40px;
    display: block;
}