*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

:root{
    --primary-color: #080808;
    --secundary-color: #fff;
    --terciary-color: #ababab;
    --primary-image: url(images/job1.png);
    --primary-responsive: url(images/11.png);
    --shadow-color: rgba(255, 255, 255, 0.19);
}
.dark-theme{
    --primary-color: #fff;
    --secundary-color: #080808;
    --terciary-color: #414141;
    --primary-image: url(images/job2.png);
    --primary-responsive: url(images/job22.png);
    --shadow-color: rgba(0, 0, 0, 0.1);
}
html{
    scroll-behavior: smooth;
}
body {
    background: var(--primary-color);
    color: var(--secundary-color);
}

#darkMode {
    width: 40px;
    cursor: pointer;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: var(--primary-image);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    z-index: 10;
}
.container {
    padding: 10px 10%;
}
/* /////////////////////////////////////////////////////////////////////// */
.btn{
    position: fixed;
    top: 15px;
    left: 45px;
    height: 45px;
    width: 45px;
    text-align: center;
    background: #1b1b1b;
    border-radius: 3px;
    cursor: pointer;
    transition: left 0.4s ease;
    z-index: 900;
}   
.btn  .menu{
    color: white;
    font-size: 28px;
    line-height: 45px;
}
.btn.click{
    left: 260px;
}
.btn.click .menu::before{
    content: '\f00d';
}
.sidebar{
    position: fixed;
    width: 250px;
    left: -250px;
    height: 100%;
    background: #1b1b1b;
    z-index: 900;
    transition: left 0.4s ease;
}
.sidebar.show{
    left: 0px;
}
.sidebar .text{
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 65px;
    text-align: center;
    background: #1e1e1e;
    letter-spacing: 1px;
}
.sidebar .lista{
    background: #1b1b1b;
    height: 100%;
    width: 100%;
    list-style: none;
} 
.sidebar .lista .item{
    line-height: 60px;
    border-bottom: 1px solid rgb(255, 255, 255, 0.1);
}
.sidebar .lista .item:last-child{
    border-bottom: 1px solid rgb(255, 255, 255, 0.1);
}
.sidebar .lista .item a{
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding-left: 40px;
    font-weight: 500;
    display: block;
    width: 100%;
    border-left: 3px solid transparent;
}
.sidebar .lista .item.active a{
    color: #345511;
    background-color: #1e1e1e;
    border-left-color: #345511;
}
.sidebar .lista .subLista{
    position: static;
    display: none;
}
.sidebar .lista .feat-show.show {
    display: block;
}
.sidebar .lista .subLista .item{   
    line-height: 42px;
    border-bottom: none;
}
.sidebar .lista .subLista .item a{
    font-size: 17px;
    color: #e6e6e6;
    padding-left: 80px;
}
.sidebar .lista .item.active .subLista .subItem a{
    color: #e6e6e6;
    background: #1b1b1b;
    border-left-color: transparent;
}
.sidebar .lista .subLista .item a:hover{
    color: #345511!important;
    background: #1e1e1e!important;
}
.sidebar .lista  .item a span{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 22px;
    transition: transform 0.4s;
}
.sidebar .lista .item a span.rotate{
    transform: translateY(-50%) rotate(-180deg);
}

.sideLogo{
    width: 70%;
    height: 10%;
    left: 3px;
}
/* /////////////////////////////////////////////////////////////////////// */
.sticky {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    width: 100%;
    max-width: 1280px;
    height: 54px;
    padding: 0 10%;
    background: transparent !important; /* Fondo completamente transparente al inicio */
    transition: all 0.4s ease;
}

.sticky.scrolled {
    background: var(--primary-color) !important; /* Fondo blanco al hacer scroll */
    box-shadow: 0 2px 15px rgba(52, 85, 17, 0.688);
    border-radius: 5px 5px ;
}


.sticky .logo {
    transition: filter 0.4s ease;
}


/* Elementos del menú */
.sticky ul li a {
    color: var(--secundary-color); /* Texto blanco al inicio */
    text-decoration: none;
    font-size: 18px;
    position: relative;
    transition: all 0.4s ease;
}

.sticky.scrolled ul li a {
    color: var(--secundary-color); /* Texto negro al hacer scroll */
}

.sticky ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #345511;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: all 0.5s;
}

.sticky ul li a:hover::after {
    width: 100%;
}


.sticky i, .sticky #darkMode {
    color: white;
    transition: all 0.4s ease;
    cursor: pointer;
}

.sticky.scrolled i, .sticky.scrolled #darkMode {
    color: black;
}

.header-text {
    margin-top: 20%;
    font-size: 30px;
    padding-top: 54px; 
}

.logo{
    width: 140px;
}
.sun{
    position: static;
    padding: 1vh;
    margin-left: 10vh;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: var(--secundary-color-color);
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #345511;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: all 0.5s;

}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #345511;
}
.justify{
    text-align: justify;
}
